<div>
    <h2 id="page-heading">
        <span jhiTranslate="karmaApp.karmaIdentityProof.home.title">Identity Proofs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-identity-proof" [routerLink]="['/identity-proof/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="karmaApp.karmaIdentityProof.home.createLabel">
            Create new Identity Proof
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="identityProofs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idNo"><span jhiTranslate="karmaApp.karmaIdentityProof.idNo">Id No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="identityProofTypeId"><span jhiTranslate="karmaApp.karmaIdentityProof.identityProofType">Identity Proof Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let identityProof of identityProofs ;trackBy: trackId">
                <td><a [routerLink]="['/identity-proof', identityProof.id, 'view' ]">{{identityProof.id}}</a></td>
                <td>{{identityProof.idNo}}</td>
                <td>
                    <div *ngIf="identityProof.identityProofTypeId">
                        <a [routerLink]="['../identity-proof-type', identityProof.identityProofTypeId , 'view' ]" >{{identityProof.identityProofTypeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/identity-proof', identityProof.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/identity-proof', identityProof.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'identity-proof/'+ identityProof.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="identityProofs && identityProofs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
