<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-user-check-heading" jhiTranslate="karmaApp.karmaUserCheck.home.createOrEditLabel">Create or edit a User Check</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!userCheck.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="userCheck.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="karmaApp.karmaUserCheck.voteType" for="field_voteType">Vote Type</label>
                    <input type="text" class="form-control" name="voteType" id="field_voteType"
                        [(ngModel)]="userCheck.voteType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="karmaApp.karmaUserCheck.category" for="field_category">Category</label>
                    <input type="text" class="form-control" name="category" id="field_category"
                        [(ngModel)]="userCheck.category" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="karmaApp.karmaUserCheck.checkedNeed" for="field_checkedNeed">Checked Need</label>
                    <select class="form-control" id="field_checkedNeed" name="checkedNeed" [(ngModel)]="userCheck.checkedNeedId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="needOption.id" *ngFor="let needOption of needs; trackBy: trackNeedById">{{needOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="karmaApp.karmaUserCheck.checkedUser" for="field_checkedUser">Checked User</label>
                    <select class="form-control" id="field_checkedUser" name="checkedUser" [(ngModel)]="userCheck.checkedUserId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="registeredUserOption.id" *ngFor="let registeredUserOption of registeredusers; trackBy: trackRegisteredUserById">{{registeredUserOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="karmaApp.karmaUserCheck.comment" for="field_comment">Comment</label>
                    <select class="form-control" id="field_comment" name="comment" [(ngModel)]="userCheck.commentId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="commentOption.id" *ngFor="let commentOption of comments; trackBy: trackCommentById">{{commentOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="karmaApp.karmaUserCheck.reply" for="field_reply">Reply</label>
                    <select class="form-control" id="field_reply" name="reply" [(ngModel)]="userCheck.replyId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="replyOption.id" *ngFor="let replyOption of replies; trackBy: trackReplyById">{{replyOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="karmaApp.karmaUserCheck.post" for="field_post">Post</label>
                    <select class="form-control" id="field_post" name="post" [(ngModel)]="userCheck.postId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="postOption.id" *ngFor="let postOption of posts; trackBy: trackPostById">{{postOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="karmaApp.karmaUserCheck.checkedHelp" for="field_checkedHelp">Checked Help</label>
                    <select class="form-control" id="field_checkedHelp" name="checkedHelp" [(ngModel)]="userCheck.checkedHelpId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="helpOption.id" *ngFor="let helpOption of helps; trackBy: trackHelpById">{{helpOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
