<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="author">
            <h2><span jhiTranslate="libraryApp.author.detail.title">Author</span> {{author.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="libraryApp.author.authorName">Author Name</span></dt>
                <dd>
                    <span>{{author.authorName}}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.author.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{author.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.author.book">Book</span></dt>
                <dd>
                    <span *ngFor="let book of author.books; let last = last">
                        <a [routerLink]="['/book', book?.id, 'view' ]">{{book.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/author', author.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
