<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-author-heading" jhiTranslate="libraryApp.author.home.createOrEditLabel">Create or edit a Author</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!author.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="author.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="libraryApp.author.authorName" for="field_authorName">Author Name</label>
                    <input type="text" class="form-control" name="authorName" id="field_authorName"
                        [(ngModel)]="author.authorName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="libraryApp.author.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="number" class="form-control" name="phoneNumber" id="field_phoneNumber"
                        [(ngModel)]="author.phoneNumber" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="libraryApp.author.book" for="field_book">Book</label>
                    <select class="form-control" id="field_book" multiple name="book" [(ngModel)]="author.books">
                        <option [ngValue]="getSelected(author.books, bookOption)" *ngFor="let bookOption of books; trackBy: trackBookById">{{bookOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
