<div>
    <h2 id="page-heading">
        <span jhiTranslate="karmaApp.karmaMedia.home.title">Media</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-media" [routerLink]="['/media/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="karmaApp.karmaMedia.home.createLabel">
            Create new Media
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="media">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fileName"><span jhiTranslate="karmaApp.karmaMedia.fileName">File Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="url"><span jhiTranslate="karmaApp.karmaMedia.url">Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="extension"><span jhiTranslate="karmaApp.karmaMedia.extension">Extension</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="file"><span jhiTranslate="karmaApp.karmaMedia.file">File</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="needId"><span jhiTranslate="karmaApp.karmaMedia.need">Need</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="helpId"><span jhiTranslate="karmaApp.karmaMedia.help">Help</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="postId"><span jhiTranslate="karmaApp.karmaMedia.post">Post</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let media of media ;trackBy: trackId">
                <td><a [routerLink]="['/media', media.id, 'view' ]">{{media.id}}</a></td>
                <td>{{media.fileName}}</td>
                <td>{{media.url}}</td>
                <td>{{media.extension}}</td>
                <td>
                    <a *ngIf="media.file" (click)="openFile(media.fileContentType, media.file)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="media.file">{{media.fileContentType}}, {{byteSize(media.file)}}</span>
                </td>
                <td>
                    <div *ngIf="media.needId">
                        <a [routerLink]="['../need', media.needId , 'view' ]" >{{media.needId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="media.helpId">
                        <a [routerLink]="['../help', media.helpId , 'view' ]" >{{media.helpId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="media.postId">
                        <a [routerLink]="['../post', media.postId , 'view' ]" >{{media.postId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/media', media.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/media', media.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'media/'+ media.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="media && media.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
