<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="media">
            <h2><span jhiTranslate="karmaApp.karmaMedia.detail.title">Media</span> {{media.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="karmaApp.karmaMedia.fileName">File Name</span></dt>
                <dd>
                    <span>{{media.fileName}}</span>
                </dd>
                <dt><span jhiTranslate="karmaApp.karmaMedia.url">Url</span></dt>
                <dd>
                    <span>{{media.url}}</span>
                </dd>
                <dt><span jhiTranslate="karmaApp.karmaMedia.extension">Extension</span></dt>
                <dd>
                    <span>{{media.extension}}</span>
                </dd>
                <dt><span jhiTranslate="karmaApp.karmaMedia.file">File</span></dt>
                <dd>
                    <div *ngIf="media.file">
                        <a (click)="openFile(media.fileContentType, media.file)" jhiTranslate="entity.action.open">open</a>
                        {{media.fileContentType}}, {{byteSize(media.file)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="karmaApp.karmaMedia.need">Need</span></dt>
                <dd>
                    <div *ngIf="media.needId">
                        <a [routerLink]="['/need', media.needId, 'view']">{{media.needId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="karmaApp.karmaMedia.help">Help</span></dt>
                <dd>
                    <div *ngIf="media.helpId">
                        <a [routerLink]="['/help', media.helpId, 'view']">{{media.helpId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="karmaApp.karmaMedia.post">Post</span></dt>
                <dd>
                    <div *ngIf="media.postId">
                        <a [routerLink]="['/post', media.postId, 'view']">{{media.postId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/media', media.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
