<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-media-heading" jhiTranslate="karmaApp.karmaMedia.home.createOrEditLabel">Create or edit a Media</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!media.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="media.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="karmaApp.karmaMedia.fileName" for="field_fileName">File Name</label>
                    <input type="text" class="form-control" name="fileName" id="field_fileName"
                        [(ngModel)]="media.fileName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="karmaApp.karmaMedia.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                        [(ngModel)]="media.url" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="karmaApp.karmaMedia.extension" for="field_extension">Extension</label>
                    <input type="text" class="form-control" name="extension" id="field_extension"
                        [(ngModel)]="media.extension" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="karmaApp.karmaMedia.file" for="field_file">File</label>
                    <div>
                        <div *ngIf="media.file" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(media.fileContentType, media.file)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{media.fileContentType}}, {{byteSize(media.file)}}</span>
                            <button type="button" (click)="media.file=null;media.fileContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_file" (change)="setFileData($event, media, 'file', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="file" id="field_file"
                        [(ngModel)]="media.file" />
                    <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                        [(ngModel)]="media.fileContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="karmaApp.karmaMedia.need" for="field_need">Need</label>
                    <select class="form-control" id="field_need" name="need" [(ngModel)]="media.needId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="needOption.id" *ngFor="let needOption of needs; trackBy: trackNeedById">{{needOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="karmaApp.karmaMedia.help" for="field_help">Help</label>
                    <select class="form-control" id="field_help" name="help" [(ngModel)]="media.helpId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="helpOption.id" *ngFor="let helpOption of helps; trackBy: trackHelpById">{{helpOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="karmaApp.karmaMedia.post" for="field_post">Post</label>
                    <select class="form-control" id="field_post" name="post" [(ngModel)]="media.postId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="postOption.id" *ngFor="let postOption of posts; trackBy: trackPostById">{{postOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
