<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comment">
            <h2><span jhiTranslate="karmaApp.karmaComment.detail.title">Comment</span> {{comment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="karmaApp.karmaComment.message">Message</span></dt>
                <dd>
                    <span>{{comment.message}}</span>
                </dd>
                <dt><span jhiTranslate="karmaApp.karmaComment.date">Date</span></dt>
                <dd>
                    <span>{{comment.date}}</span>
                </dd>
                <dt><span jhiTranslate="karmaApp.karmaComment.need">Need</span></dt>
                <dd>
                    <div *ngIf="comment.needId">
                        <a [routerLink]="['/need', comment.needId, 'view']">{{comment.needId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="karmaApp.karmaComment.help">Help</span></dt>
                <dd>
                    <div *ngIf="comment.helpId">
                        <a [routerLink]="['/help', comment.helpId, 'view']">{{comment.helpId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="karmaApp.karmaComment.post">Post</span></dt>
                <dd>
                    <div *ngIf="comment.postId">
                        <a [routerLink]="['/post', comment.postId, 'view']">{{comment.postId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="karmaApp.karmaComment.commentedUser">Commented User</span></dt>
                <dd>
                    <div *ngIf="comment.commentedUserId">
                        <a [routerLink]="['/registered-user', comment.commentedUserId, 'view']">{{comment.commentedUserId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comment', comment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
