<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="post">
            <h2><span jhiTranslate="karmaApp.karmaPost.detail.title">Post</span> {{post.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="karmaApp.karmaPost.description">Description</span></dt>
                <dd>
                    <span>{{post.description}}</span>
                </dd>
                <dt><span jhiTranslate="karmaApp.karmaPost.date">Date</span></dt>
                <dd>
                    <span>{{post.date}}</span>
                </dd>
                <dt><span jhiTranslate="karmaApp.karmaPost.registeredUser">Registered User</span></dt>
                <dd>
                    <div *ngIf="post.registeredUserId">
                        <a [routerLink]="['/registered-user', post.registeredUserId, 'view']">{{post.registeredUserId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/post', post.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
