<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="identityProofType">
            <h2><span jhiTranslate="karmaApp.karmaIdentityProofType.detail.title">Identity Proof Type</span> {{identityProofType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="karmaApp.karmaIdentityProofType.type">Type</span></dt>
                <dd>
                    <span>{{identityProofType.type}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/identity-proof-type', identityProofType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
