<div>
    <h2 id="page-heading">
        <span jhiTranslate="karmaApp.karmaNeed.home.title">Needs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-need" [routerLink]="['/need/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="karmaApp.karmaNeed.home.createLabel">
            Create new Need
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="needs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="karmaApp.karmaNeed.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="beneficiaryType"><span jhiTranslate="karmaApp.karmaNeed.beneficiaryType">Beneficiary Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="karmaApp.karmaNeed.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="severityId"><span jhiTranslate="karmaApp.karmaNeed.severity">Severity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="verificationTeamId"><span jhiTranslate="karmaApp.karmaNeed.verificationTeam">Verification Team</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="approvalStatusId"><span jhiTranslate="karmaApp.karmaNeed.approvalStatus">Approval Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="personInChargeId"><span jhiTranslate="karmaApp.karmaNeed.personInCharge">Person In Charge</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="postedUserId"><span jhiTranslate="karmaApp.karmaNeed.postedUser">Posted User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let need of needs ;trackBy: trackId">
                <td><a [routerLink]="['/need', need.id, 'view' ]">{{need.id}}</a></td>
                <td>{{need.description}}</td>
                <td>{{need.beneficiaryType}}</td>
                <td>{{need.date | date:'medium'}}</td>
                <td>
                    <div *ngIf="need.severityId">
                        <a [routerLink]="['../severity', need.severityId , 'view' ]" >{{need.severityId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="need.verificationTeamId">
                        <a [routerLink]="['../verification-team', need.verificationTeamId , 'view' ]" >{{need.verificationTeamId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="need.approvalStatusId">
                        <a [routerLink]="['../approval-status', need.approvalStatusId , 'view' ]" >{{need.approvalStatusId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="need.personInChargeId">
                        <a [routerLink]="['../registered-user', need.personInChargeId , 'view' ]" >{{need.personInChargeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="need.postedUserId">
                        <a [routerLink]="['../registered-user', need.postedUserId , 'view' ]" >{{need.postedUserId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/need', need.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/need', need.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'need/'+ need.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="needs && needs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
